<div ng-controller="HomeCtrl as ctrl"> 
    	<div class="container">
        	<div class="jumbotron" style="padding-bottom:0px;">
			<tabset vertical="false" type="pills">
    				<tab heading="TX" ng-click="ctrl.switchRegion($event,'TX')">Current weather conditions for central Texas centering around the Austin area.</tab>
    				<tab heading="OK" ng-click="ctrl.switchRegion($event,'OK')">Current weather conditions for central Oklahoma centering around the Oklahoma City area.</tab>
  			</tabset>
			<h3>Current Weather Conditions for: {{ctrl.currentRegion}}</h3>
			<div style="height:200px;overflow-y:auto;">
				<table class="table table-striped">
					<tr style="background-color:#CFE8F7">
						<th style="width:200px;">&nbsp;</th>
						<th style="width:200px;font-weight:bold;">Temperature</th>
						<th style="width:200px;font-weight:bold;">Pressure</th>
						<th style="width:200px;font-weight:bold;">Humidity</th>
					</tr>
					<tr ng-repeat="city in ctrl.cities | filter:{region:ctrl.currentRegion}">
						<td style="width:200px;font-weight:bold;">{{city.name}}</td>
						<td style="width:200px;">{{city.main.temp | toF}} &deg;F</td>
						<td style="width:200px;">{{city.main.pressure}} mb</td>
						<td style="width:200px;">{{city.main.humidity}} %</td>
					</tr>
				</table>
			</div>
			<hr/>
			<div id="map-canvas"></div>
        	</div>
    	</div>
</div> 
   
 
