<div ng-controller="HomeController as ctrl" class="home_controller"> 
	<bc-alert alert-message="{{ctrl.alertMessage}}" alert-type="{{ctrl.alertType}}"></bc-alert>
    	<div class="container">
        	<div class="jumbotron jumbotron_container">
			<tabset vertical="false" type="pills">
    				<tab heading="TX" ng-click="ctrl.switchRegion($event,'TX')">Current weather conditions for central Texas centering around the Austin area.</tab>
    				<tab heading="OK" ng-click="ctrl.switchRegion($event,'OK')">Current weather conditions for central Oklahoma centering around the Oklahoma City area.</tab>
  			</tabset>
			<h3>Current Weather Conditions for: {{ctrl.currentRegion}}</h3>
			<div class="float_left">
				<bc-search placeholder="city" search-text="searchText" button-text="Search" clear-text="Clear"></bc-search>
			</div>
			<div class="float_left" style="margin-left:15px;">
				<button class="btn btn-sm btn-primary button" ng-click="ctrl.selectDryline()">Calculate Dryline</button>
			</div>
			<div class="float_right">{{ctrl.message}}</div>
			<div class="clear"></div>
			<div class="table_container">
				<table class="table table-striped">
					<tr class="table_header">
						<th ng-repeat="header in ctrl.headers" ng-click="ctrl.doSort($index)" class="table_header">{{header}}</th>
					</tr>
				</table>
			</div>
			<div id="cityTable" class="table_container" style="height:200px;overflow-y:auto;">
				<table class="table table-striped">
					<tr ng-repeat="city in ctrl.cities | orderBy:ctrl.sortOrder | filter:{region:ctrl.currentRegion} | filter:{name:ctrl.searchText}" ng-click="ctrl.selectCity(city)">
						<td ng-class="{table_cell_background : city.selected}" class="table_cell" style="font-weight:bold;">{{city.name}}</td>
						<td ng-class="{table_cell_background : city.selected}" class="table_cell">{{city.main.temp | TemperatureFilter}} &deg;F</td>
						<td ng-class="{table_cell_background : city.selected}" class="table_cell">{{city.main.pressure}} mb</td>
						<td ng-class="{table_cell_background : city.selected}" class="table_cell">{{city.main.humidity}} %</td>
						<td ng-class="{table_cell_background : city.selected}" class="table_cell">{{city.wind.speed}} km/h</td>
						<td ng-class="{table_cell_background : city.selected}" class="table_cell">{{city.wind.deg | WindDirectionFilter}}</td>
					</tr>
				</table>
			</div>
			<hr/>
			<div id="map-canvas" class="map_canvas"></div>
        	</div>
    	</div>
</div>
<div ng-include="'modules/footer/footer.html'"></div>
<bc-footer></bc-footer> 
