<div ng-controller="HomeController as ctrl"> 
    	<div class="container">
        	<div class="jumbotron" style="padding-bottom:0px;">
			<tabset vertical="false" type="pills">
    				<tab heading="TX" ng-click="ctrl.switchRegion($event,'TX')">Current weather conditions for central Texas centering around the Austin area.</tab>
    				<tab heading="OK" ng-click="ctrl.switchRegion($event,'OK')">Current weather conditions for central Oklahoma centering around the Oklahoma City area.</tab>
  			</tabset>
			<h3>Current Weather Conditions for: {{ctrl.currentRegion}}</h3>
			<bc-search placeholder="city" search-text="searchText" button-text="Search" clear-text="Clear"></bc-search>
			<table class="table table-striped">
				<tr style="background-color:#CFE8F7">
					<th ng-repeat="header in ctrl.headers" ng-click="ctrl.doSort($index)" style="cursor:pointer;width:200px;font-weight:bold;">{{header}}</th>
				</tr>
			</table>
			<div id="cityTable" style="height:200px;overflow-y:auto;">
				<table class="table table-striped">
					<tr ng-repeat="city in ctrl.cities | orderBy:ctrl.sortOrder | filter:{region:ctrl.currentRegion} | filter:{name:ctrl.searchText}">
						<td style="width:200px;font-weight:bold;">{{city.name}}</td>
						<td style="width:200px;">{{city.main.temp | TemperatureFilter}} &deg;F</td>
						<td style="width:200px;">{{city.main.pressure}} mb</td>
						<td style="width:200px;">{{city.main.humidity}} %</td>
						<td style="width:200px;">{{city.wind.speed}} km/h</td>
						<td style="width:200px;">{{city.wind.deg | WindDirectionFilter}}</td>
					</tr>
				</table>
			</div>
			<hr/>
			<div id="map-canvas"></div>
        	</div>
    	</div>
</div> 
   
 
