<div ng-controller="HomeController as ctrl" class="home_controller"> 
    	<div class="container">
        	<div class="jumbotron jumbotron_container">
			<tabset vertical="false" type="pills">
    				<tab heading="TX" ng-click="ctrl.switchRegion($event,'TX')">Current weather conditions for central Texas centering around the Austin area.</tab>
    				<tab heading="OK" ng-click="ctrl.switchRegion($event,'OK')">Current weather conditions for central Oklahoma centering around the Oklahoma City area.</tab>
  			</tabset>
			<h3>Current Weather Conditions for: {{ctrl.currentRegion}}</h3>
			<bc-search placeholder="city" search-text="searchText" button-text="Search" clear-text="Clear"></bc-search>
			<table class="table table-striped table_container">
				<tr class="table_header">
					<th ng-repeat="header in ctrl.headers" ng-click="ctrl.doSort($index)" class="table_header">{{header}}</th>
				</tr>
			</table>
			<div id="cityTable" style="height:200px;overflow-y:auto;">
				<table class="table table-striped table_container">
					<tr ng-repeat="city in ctrl.cities | orderBy:ctrl.sortOrder | filter:{region:ctrl.currentRegion} | filter:{name:ctrl.searchText}">
						<td class="table_cell_width" style="font-weight:bold;">{{city.name}}</td>
						<td class="table_cell_width">{{city.main.temp | TemperatureFilter}} &deg;F</td>
						<td class="table_cell_width">{{city.main.pressure}} mb</td>
						<td class="table_cell_width">{{city.main.humidity}} %</td>
						<td class="table_cell_width">{{city.wind.speed}} km/h</td>
						<td class="table_cell_width">{{city.wind.deg | WindDirectionFilter}}</td>
					</tr>
				</table>
			</div>
			<hr/>
			<div id="map-canvas" class="map_canvas"></div>
        	</div>
    	</div>
</div> 
<div ng-controller="FooterController as ctrlFooter">
	<div style="text-align:center" ng-bind-html="ctrlFooter.copyright"></div>
</div> 
 
