$header-background: #CFE8F7;
$cell-background: #E5F9F5;

.home_controller {
	.jumbotron_container {
		padding-bottom 	: 0px;
	}

	.table_container {
		width 		: 1020px;
	}

	.table_cell {
		width		: 200px;
		cursor		: pointer;
	}
	
	.table_cell_background {
		background-color: $cell-background;
	}

	.table_header {
		@extend .table_cell;
        	background-color: $header-background !important;
		cursor		: pointer;
		font-weight	: bold;
	}

	.map_canvas {
		height		: 500px;
		width		: 1020px;
	}
}
