<div ng-controller="Es6Controller as ctrl"> 
    	<div class="container">
        	<div class="jumbotron" style="padding-bottom:0px;">
			<div class="row">
				<div class="col-xs-3">
					<div ng-repeat="output in ctrl.outputLet">{{output}}</div>
				</div>
				<div class="col-xs-3">
					<div ng-repeat="output in ctrl.outputGenerator">{{output}}</div>
				</div>
				<div class="col-xs-3">
					<div ng-repeat="output in ctrl.outputArrow">{{output}}</div>
				</div>
				<div class="col-xs-3">
					<div ng-repeat="output in ctrl.outputClass">{{output}}</div>
				</div>
			</div>
			<div class="row">
                                <div class="col-xs-3">
                                        <div ng-repeat="output in ctrl.outputSet">{{output}}</div>
                                </div>
                                <div class="col-xs-3">
                                        <div ng-repeat="output in ctrl.outputWeakset">{{output}}</div>
                                </div>
                                <div class="col-xs-3">
                                        <div ng-repeat="output in ctrl.outputMap">{{output}}</div>
                                </div>
                                <div class="col-xs-3">
                                        <div ng-repeat="output in ctrl.outputWeakmap">{{output}}</div>
                                </div>
                        </div>
			<div class="row">
                                <div class="col-xs-3">
                                        <div ng-repeat="output in ctrl.outputModules">{{output}}</div>
                                </div>
                                <div class="col-xs-3">
                                        <div ng-repeat="output in ctrl.outputPromises">{{output}}</div>
                                </div>
                                <div class="col-xs-3">
                                        <div ng-repeat="output in ctrl.outputProxy">{{output}}</div>
                                </div>
                                <div class="col-xs-3">
                                        <div ng-repeat="output in ctrl.outputReflect">{{output}}</div>
                                </div>
                        </div>
            	</div>
	</div>
</div> 
<div ng-include="'modules/footer/footer.html'"></div>
<bc-footer></bc-footer>   
 
